administrator/
bin/
builder/src_copy/
cache/
cli/
components/
images/
includes/
installation/
modules/
language/
layouts/
libraries/
media/
plugins/
templates/
tmp/
*.txt
index.php
LICENSE
robots.txt.dist

!.gitignore
!builder/
!modules/mod_mycityselector
!doc_images
!plugins/system/plg_mycityselector
