<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="component">
        <field
                name="basedomain"
                type="text"
                label="COM_MYCITYSELECTOR_BASE_DOMAIN"
                description="COM_MYCITYSELECTOR_BASE_DOMAIN_DESCRIPTION" />
        <field
                name="defaultcity"
                type="sql"
                label="COM_MYCITYSELECTOR_DEFAULTCITY"
                query="SELECT name as value FROM #__mycityselector_city;" />
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                filter="rules"
                validate="rules"
                component="com_users"
                section="component" />
    </fieldset>
</config>
